@import "tailwindcss";
@plugin "daisyui";

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:
    Manrope,
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
